/*--- GLOBAL CONFIGURATION start ---*/
.body-config {
 background: url('/img/svg/bgHeader.svg') no-repeat;
  background-color: #031923;
  width: 100%;
  min-width: 1920px;
  padding: 20px 120px 36px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

::placeholder{
  color:#fff;
  opacity:1;
}

/*IE placeholder*/
:-ms-input-placeholder {
  color: #fff;
}

/*Edge placeholder*/
::-ms-input-placeholder {
  color: #fff;
}

/*Firefox placeholder*/
::-moz-placeholder {
  color: #fff;
}

/*Opera, Chrome, Safari: old version placeholder*/
::-webkit-input-placeholder {
  color: #fff;
}

/*Firefox old version placeholder*/
:-moz-placeholder {
  color: #fff;
}
/*--- GLOBAL CONFIGURATION end ---*/

/*--- HEADER CONFIGURATION start ---*/
.hdr-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hdr-nav-ul {
  display: flex;
  flex-direction: row;
  text-transform: capitalize;
  list-style: none;
  padding: 0;
  margin: 19px 0 0 0;
  letter-spacing: 0.1px;
}

.hdr-nav-item:not(:first-child) {
  margin-left: 44px;
}

.nav-link {
  padding: 5px 5px 5px 0;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover, .nav-active {
  color: #00E0FF!important;
}

.nav-active {
  font-size: 22px;
  font-weight: 600;
}

/*если я не ставлю тут такие значения, то понятно что оно не ложится и близко.
Альтернативно я думал вывести логотип из врапера, сделать его блоком и по центру фигануть, но
там он тоже не попадает и его надо все равно совать. Как лучше всего сделать?*/
.hdr-logo {
  margin-left: -13px;
  margin-top: -12px;
}

.hdr-interaction {
  display: flex;
  width: 411px;
  height: 48px;
  justify-content: space-between;
  margin-top: 12px; /* тоже из разряда "щас немного подвину и будет збс*/
  font-weight: 400;
}

.hdr-search-input {
  display: flex;
  width: 268px;
  height: 48px;
  padding: 12px 12px 12px 43px;
  border: #00E0FF 1px solid;
  border-radius: 48px;
  background: url("/img/svg/searchIcon.svg") no-repeat;
  background-color: rgba(255, 255, 255, 0.2);
  background-position: 11px;
  font-size: 16px;
  color: #fff;
}

.hdr-search-input:focus {
  outline: none;
}

/*тут мне не нравится, что я паддингами размещаю текст пиксель-в-пиксель, тупо ровняя.
Это из розряда "а если там будет другое имя. То, опять же, это диз должен учесть?
Мы говорим в идеальном мире и конкретно в этом примере. как мне бы надо было поступить"*/
.hdr-profile {
  display: flex;
  width: 135px;
  height: 48px;
  padding: 7px 12px 12px 51px;
  border: #00E0FF 1px solid;
  background-color: #989898;
  border-radius: 48px;
  background: url('/img/userAvatar.png') no-repeat;
  background-color: rgba(255, 255, 255, 0.2);
  background-position-x: -3px;
  background-position-y: -2px;
  font-size: 16px;
  text-transform: uppercase;
}
/*--- HEADER CONFIGURATION end ---*/